/* CSS Variables */
:root {
    --primary-color: #1E3738;
    --secondary-color: #F6FBF6;
    --tertiary-color: #5C5C5C;
    --primary-light: #FFFFFF;
    --secondary-dark: #101010;
    }



.portal-sidebar-container{
    /* width: 366px; */
    width: 25%;
    height: 100vh;
    border-radius: 0 30px  30px 0;
    padding-left: 72px;
    padding-right: 22px;
    padding-top: 32px;
    background-color: var(--primary-color);
    color: var(--primary-light);
}

.portal-sidebar-logo{
    padding-bottom: 140px;
}

.portal-sidemenu-links {
    display: flex;
    align-items: center;
    margin-bottom: 64px;
    padding: 8px;
    border-radius: 15px;
    text-decoration: none;
    color: var(--primary-light);
    border: 2px solid var(--primary-color);

}


.portal-sidemenu-links:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}



.portal-sidemenu-text{
    padding-left: 24px;
}

.portal-active-menu {
    border: 2px solid var(--secondary-color);
}