
/* CSS Variables */
:root {
    --primary-color: #1E3738;
    --secondary-color: #F6FBF6;
    --tertiary-color: #5C5C5C;
    --primary-light: #FFFFFF;
    --secondary-dark: #101010;
    --light-border: #1e373880;
    }

.admin-dashboard-content{
    padding-top: 48px;
    padding-bottom: 48px;
    height: 100%;
    /* display: flex;
    justify-content: space-between; */
}

.room-overview-container{
    height: 30%;
    margin-bottom: 5rem;
    padding: 12px 30px;
    border-radius: 24px;
    border: 1px solid var(--light-border);


}

.room-overview-card-container{
    display: flex;
    justify-content: space-between;
}

.room-overview-card{
    display: flex;
    align-items: center;
    padding: 16px;
    border: 1px solid var(--light-border);
    background-color: var(--secondary-color);
    border-radius: 12px;
}

.room-overview-card .card-img{
    margin-right: 24px;
}


.card-content .card-content-desc {
    white-space: nowrap; 
    margin-top: 16px;
  }


.bottom-container{
    display: flex;
    justify-content: space-between;
    height: 60%;

}

.graph-card{
  width: 50%;
  border-radius: 24px;
  padding: 12px 30px;
  border: 1px solid var(--light-border);


}

.graph-container{
    height: 340px;
}

.notifications-card{
    border-radius: 24px;
    border: 1px solid rgba(30, 55, 56,0.5);
    padding: 8px 16px;
    overflow: hidden;
    width: 30%;
}